# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Data (optional if large)
# =========================
data/

# =========================
# Models (if large)
# =========================
models/

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Docker
# =========================
*.tar